python-dotenv
jupyterlab

montreal-forced-aligner
spacy
sudachipy
SudachiDict-core

mecab-python3
unidic-lite

langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-chroma
chromadb
pdfminer.six

librosa
soundfile
coqui-tts[ja]