numpy==1.26.4
cffi==2.0.0
urllib3==2.3.0

python-dotenv
jupyterlab

montreal-forced-aligner
spacy
sudachipy
SudachiDict-core
pgvector

mecab-python3
unidic-lite

langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-chroma
chromadb
pdfminer.six

librosa
soundfile
style-bert-vits2